<!--- if confused how it knows what micropost var is review
what <#%= render @microposts does -->
<li id="micropost-<%= micropost.id %>">
    <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
    <span class="user"> <%= link_to micropost.user.name, micropost.user %></span>
    <span class="content">
        <%= image_tag micropost.picture.url if micropost.picture? %>
        <%= micropost.content %> 
    </span>
    <span class="timestamp">
        <!-- neat class and code below, very much so, you should review it-->
        Posted <%= time_ago_in_words(micropost.created_at) %> ago.
        <% if current_user?(micropost.user) %>
            <%= link_to 'delete', micropost, method: :delete,
            data: { confirm: "You sure??" } %>
        <%end%>
        <% unless current_user?(micropost.user) %>
            <% if current_user.shared?(micropost) %>
                <%= form_for(current_user.shares.find_by(sharedpost_id: micropost.id),
                html: {method: :delete }) do |f| %>
                    <%= f.submit "Unshare", class: "btn" %>
                <%end%>
            <%else%>
                <%= form_for(current_user.shares.build) do |f| %>
                    <div> <%= hidden_field_tag :sharedpost_id, micropost.id %> </div>
                    <%= f.submit "Share", class: "btn btn-primary" %>
                <%end%>
            <%end%>
        <%end%>
    </span>
</li>
