<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <a href=https://fierce-wave-48431.herokuapp.com/static_pages/help>Need help?</a>
    <a href=https://fierce-wave-48431.herokuapp.com/static_pages/home>Home</a>
    <a href=https://fierce-wave-48431.herokuapp.com/static_pages/about>About</a>
    <a href=https://fierce-wave-48431.herokuapp.com/static_pages/contact>contact</a>
  <h2>HI VANESSA! <3</h2>
    <p>:P</p>
  </body>
</html>
